@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";

body {
	font: var(--font-m);
	color: var(--primary-color);

}

.app {
	background-color: var(--bg-color);
	transition: background-color .1s ease-in-out;
	min-height: 100vh;
}

.page-wrapper {
	flex-grow: 1;
	padding-top: 5px;
	padding: 5px 10px;
}

.content-page {
	display: flex;

}