.item {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.link {
	margin-left: 10px;
	opacity: 1;
}

.icon {
	width: 30px;
	height: 30px;
	fill: currentColor;
}

.collapsed {
	.link {
		display: none;
	}
}