.Sidebar {
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-width);
	background-color: var(--inverted-bg-color);
	transition: background-color .1s ease-in-out,
		width .2s ease-in-out;
}

.collapsed {
	width: var(--sidebar-width-collapsed);
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding: 20px 0;
	position: relative;
	justify-content: flex-end;
}

.items {
	&:last-child {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10px;
	}
}