.ErrorPage {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	font: var(--font-l);
	color: red;

	button {
		border: 1px solid;
		padding: 10px;
		border-radius: 5px;
		font-weight: 600;
	}
}