.app_purple_theme {
	--bg-color: #6158ff;
	--inverted-bg-color: #F4F4FB;
	--primary-color: #F4F4FB;
	--secondary-color: #2E35FF;
	--inverted-primary-color: #6158ff;
	--inverted-secondary-color: #F4F4FB;
}